{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class='jumbotron text-center'>
<h1>Bienvenue </h1>
<p>Oui, cecieriufodfdygvfoesrugrdyvfleshdyvfjrsgfdvshedgfvkehdsvrfsedrvfhed</p>
</div>
{% endblock %}
