{% extends 'base.html.twig' %}

{% block title %}Hello PostController!
{% endblock %}

{% block body %}


	<div class="container">
		<h1>{{Article.title}}</h1>
        <p>{{Article.article}}</p>

		
	</div>
{% endblock %}
