{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}


<div class="container">
    <h1>posts</h1>
    <p>cette page contiendras tous les posts</p>
</div>
{% endblock %}
